@model TimesheetApp.Models.WorkPackageViewModel

<div class="modal fade" tabindex="-1" role="dialog" id="splitModal">
    <div class="modal-dialog" role="document" style="max-width: 80%;">
        <div class="modal-content">
            <form id="newWPForm">
                <div class="modal-header">
                    <h5 class="modal-title">Create Subpackage</h5>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="WorkPackage.ParentWorkPackageId" id="parentWPID" />
                    <div class="form-group">
                        <label asp-for="WorkPackage.WorkPackageId" class="control-label"></label>
                        <div class="d-flex align-items-center"
                            style="display:flex; flex-direction: row; overflow: hidden; white-space: nowrap;">
                            <div id="newIdPartial"></div>
                            <input asp-for="WorkPackage.WorkPackageId" class="form-control" maxlength="1"/>
                        </div>
                        <span asp-validation-for="WorkPackage.WorkPackageId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WorkPackage.Title" class="control-label"></label>
                        <input asp-for="WorkPackage.Title" class="form-control" />
                        <span asp-validation-for="WorkPackage.Title" class="text-danger"></span>
                    </div>
                    <h1>Work Package Budget</h1>
                    <h3>Person Days per Labour Grade</h3>
                    @for (int i = 0; i < Model.budgets!.Count; i++)
                    {
                        <div class="form-group">
                            <input type="hidden" asp-for="budgets![i].LabourCode" value="@Model.budgets![i].LabourCode" />
                            <span>@Model.budgets[i].LabourCode</span>
                            <div class="d-flex align-items-center"
                                style="display:flex; flex-direction: row; white-space: nowrap;">
                                <input asp-for="budgets![i].People!" style="width: 10%;" class="form-control people"
                                    onchange="setTotal('@Model.budgets![i].LabourCode', @Model.budgets![i].Rate, this.value, this.parentNode.querySelector('.days').value, @Model.budgets![i].UnallocatedDays-this.parentNode.querySelector('.days').value, @Model.budgets![i].UnallocatedPeople-this.value)" />
                                <span asp-validation-for="budgets![i].People!" class="text-danger"></span>

                                &nbsp;
                                <label asp-for="budgets![i].People!" class="control-label"></label>
                                &nbsp;x&nbsp;
                                <input asp-for="budgets![i].Days!" style="width: 10%;" class="form-control days"
                                    onchange="setTotal('@Model.budgets![i].LabourCode', @Model.budgets![i].Rate, this.parentNode.querySelector('.people').value, this.value, @Model.budgets![i].UnallocatedDays-this.value, @Model.budgets![i].UnallocatedPeople-this.parentNode.querySelector('.people').value)" />
                                <span asp-validation-for="budgets![i].People!" class="text-danger"></span>

                                &nbsp;
                                <label asp-for="budgets![i].Days!" class="control-label"></label>
                                &nbsp;
                                x $@Model.budgets![i]!.Rate/day = <span id="@Model.budgets![i].LabourCode"> $0</span>
                                &nbsp;&nbsp;

                                <span id='@(String.Format("R{0}", Model.budgets![i].LabourCode))'>&nbsp;&nbsp;Unallocated
                                    People:
                                    @Model.budgets![i]!.UnallocatedPeople &nbsp; Days:
                                    @Model.budgets![i]!.UnallocatedDays</span>
                            </div>
                            <span asp-validation-for="budgets![i].BudgetAmount" class="text-danger"></span>
                        </div>
                        <br />
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}