@model TimesheetApp.Models.CreateProjectViewModel

@{
    ViewData["Title"] = "All Projects";
}
<h1>Create A Projects</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="project.ProjectTitle" class="control-label"></label>
                <input asp-for="project.ProjectTitle" class="form-control" />
                <span asp-validation-for="project.ProjectTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="project.ProjectManagerId" class="control-label"></label>
                <select asp-for="project.ProjectManagerId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <h1>Project Budget</h1>
            @for (int i = 0; i < Model.budgets!.Count; i++)
            {
                <div class="form-group ">
                    <input type="hidden" asp-for="budgets![i].LabourCode" value="@Model.budgets![i].LabourCode" />
                    <span>@Model.budgets![i].LabourCode</span>
                    <div class="d-flex align-items-center"
                        style="display:flex; flex-direction: row; overflow: hidden; white-space: nowrap;">
                        <input asp-for="budgets![i].People!" style="width: 15%;" class="form-control people"
                            onchange="setTotal('@Model.budgets![i].LabourCode', @Model.budgets![i].Rate, this.value, this.parentNode.querySelector('.days').value, @Model.budgets![i].UnallocatedDays, @Model.budgets![i].UnallocatedPeople)" />
                        &nbsp;
                        <label asp-for="budgets![i].People!" class="control-label"></label>
                        &nbsp;x&nbsp;
                        <input asp-for="budgets![i].Days!" style="width: 15%;" class="form-control days"
                            onchange="setTotal('@Model.budgets![i].LabourCode', @Model.budgets![i].Rate, this.parentNode.querySelector('.people').value, this.value, @Model.budgets![i].UnallocatedDays, @Model.budgets![i].UnallocatedPeople)" />
                        &nbsp;
                        <label asp-for="budgets![i].Days!" class="control-label"></label>
                        &nbsp;
                        x $@Model.budgets![i]!.Rate/day = <span id="@Model.budgets![i].LabourCode"> $0</span>
                        &nbsp;&nbsp;
                    </div>
                </div>
            }
            </br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</br>
<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

<script>
    function setTotal(labourCode, rate, people, days, remain) {
        var element = document.querySelector("#" + labourCode);
        element.innerHTML = " $" + (people * days * rate);
    }
</script>

