@model IEnumerable<TimesheetApp.Models.TimesheetModels.Project>

@{
    if (User.Identity!.IsAuthenticated && (User.IsInRole("HR") || User.IsInRole("Admin")))
    {
        ViewData["Title"] = "All Projects";
    }
    else
    {
        ViewData["Title"] = "My Projects";
    }
}

<head>
    <title>@ViewData["Title"]</title>
</head>
<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-responsive table-striped ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
            <th>
                Project Manager Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectManager!.FirstName) @item.ProjectManager!.LastName
                </td>
                <td>
                    <a class="btn btn-primary rounded" asp-action="Edit" asp-route-id="@item.ProjectId"
                        role="button">Manage</a>
                    <a class="btn btn-secondary rounded" asp-action="Report" asp-route-id="@item.ProjectId" role="button">
                        PCP Report
                    </a>
                    <a class="btn btn-secondary rounded" asp-action="WeekReport" asp-route-id="@item.ProjectId"
                        role="button">
                        Last Week Report
                    </a>
                    <a class="btn btn-info rounded" asp-action="PCBAC" asp-route-id="@item.ProjectId" role="button">
                        PCBAC Report
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.Identity!.IsAuthenticated && (User.IsInRole("HR") || User.IsInRole("Admin")))
{
    <p>
        <a class="btn btn-primary rounded" asp-action="Create">New Project</a>
    </p>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}