@model IEnumerable<TimesheetApp.Models.TimesheetModels.LabourGrade>

@{
    ViewData["Title"] = "Index";
}

<h1>Labour Grades</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LabourCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabourCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LabourCode">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
