@model IEnumerable<TimesheetApp.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>

<div>
    Name:<input type="text" id="searchBox" />
</div>

<table id="myTable" class="table table-bordered table-responsive table-striped ">
    <thead>
        <tr>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.SickDays)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.FlexTime)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.LabourGrade)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.TimesheetApprover)
            </th>
            <th class="text-center text-nowrap">
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SickDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlexTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabourGrade!.LabourCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supervisor!.FirstName) @Html.DisplayFor(modelItem =>
                item.Supervisor!.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimesheetApprover!.FirstName) @Html.DisplayFor(modelItem =>
                item.TimesheetApprover!.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="btn btn-primary rounded w-100 mb-2 " asp-action="Edit" asp-route-id="@item.Id" role="button">Edit</a>
                    <a class="btn btn-primary rounded w-100" asp-action="Details" asp-route-id="@item.Id" role="button">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary rounded" asp-area="Identity" asp-page="/Account/Register">Add Employee</a>
</p>

@section scripts
{
    <script>
        function performSearch() {

            // get search box value
            const searchBoxValue = searchBox.value.toLowerCase();
            // loop through table rows
            for (let i = 0; i < trs.length; i++) {

                // get table row
                const tr = trs[i];

                // get table row text
                const trText = tr.innerText.toLowerCase();

                // check if table row text contains search box value
                if (trText.indexOf(searchBoxValue) > -1) {
                    tr.style.display = "";
                } else {
                    tr.style.display = "none";
                }
            }          
        }

        // declare elements
        const searchBox = document.getElementById('searchBox');
        const table = document.getElementById("myTable");
        const trs = table.tBodies[0].getElementsByTagName("tr");

        // add event listener to search box
        searchBox.addEventListener('keyup', performSearch);
    </script>
}