@model List<ApplicationUser>

@{
  ViewData["Title"] = "Create";
}
<div class="container">
  <h2>Assign employee</h2>
  <hr />

  @if (Model.Count == 0)
  {
      <h3>There are no employees left to assign to this project. </h3>
  }
  else
  {


      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <h3>Select Employee to Add</h3>
      <ul class="list-group" id="listToAddEmp" style="padding-left:0px;">
      @for (int i = 0; i < ViewBag.Users.Count; i++)
      {
            <li class="list-group-item">
              <input class="form-check-input" type="checkbox" value="" id="@("flexCheckDefault"+i)"
                class="@("flexCheckDefault"+i)">
              <label class="form-check-label" for="@("flexCheckDefault"+i)">@ViewBag.Users[i].FirstName
            @ViewBag.Users[i].LastName (@ViewBag.Users[i].JobTitle)
              </label>
              <span style="display:none;">@ViewBag.Users[i].Id</span>
            </li>
      }
      </ul>
      <button id="addEmp" class="btn btn-primary">Add Employee to Project</button>
  <a class="btn btn-secondary" asp-action="Index">Back to List of Projects</a>
  }

</div>



<script>
  // get project id
  const usersToAdd = [];
  const addEmpBtn = document.getElementById("addEmp");
  const urlParams = new URLSearchParams(window.location.search);
  const ProjectId = urlParams.get('ProjectId');

  const addUsersToProject = async (e) => {
    e.preventDefault();
    // fetch all the checked user ids
    const checkedBoxes = document.querySelectorAll("input[type=checkbox]:checked");
    if (checkedBoxes.length > 0) {
      const checkedUsers = Array.from(checkedBoxes).map(u => ({
        UserId: u.nextElementSibling.nextElementSibling.innerText,
        ProjectId: parseInt(ProjectId)
      }));

      await fetch("/EmployeeProject/AddEmployee", {
        method: "POST",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(checkedUsers),
      }).then(res => {
        if (res.status == 200) {
          location.reload();
          return res.json();
        }
      })
    }
  }
  addEmpBtn && addEmpBtn.addEventListener("click", addUsersToProject);

</script>
